---

---

<a href="/" class="size-12">
  <img
    src="/favicon.svg"
    class="transition duration-300 hover:rotate-6 hover:scale-110"
    alt=""
  />
</a>
<style>
  img {
    filter: drop-shadow(2px 2px 0px rgb(0, 0, 0));

  }
  img:hover {
    filter: drop-shadow(5px 5px 0px rgb(0, 0, 0));
    backface-visibility: hidden;
  }
</style>
