---
import { Image } from 'astro:assets';
import imgBack from './Parallax/back.png';
---

<!-- TODO implement parallax https://www.youtube.com/watch?v=Qj0Qx8HpNUo -->
<div class="parallax">
  <img
    src="/miamlya.webp"
    alt="dance miamlya dance"
    class="size-80 transition-all bg-miamlya"
  />


  <!-- <Image src={imgBack} alt="background" class="bg-1" /> -->
  <img src='/loop.webp' alt="background" class="bg-1" />
</div>

<style>
  img:is(.bg-1) {
    position: absolute;
    z-index: -100;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
  }
  .bouncy {
    animation: bounce 2s linear 0s infinite normal;
  }
  .bouncy:hover {
    animation-direction: reverse;
  }
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
      animationtimingfunction: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(-25%);
      animationtimingfunction: cubic-bezier(0, 0, 0.2, 1);
    }
  }
</style>
