---

---

<div class="scroller flex items-center justify-center truncate ">
  <div class="scroller__inner gap-6">
    <slot />
  </div>
</div>
<style>
  .scroller {
    
  }
  .scroller__inner {
    display: flex;
  }
</style>
