---

---

<div class="scroller flex items-center justify-center truncate">
  <div class="scroller__inner gap-6">
    <slot />
  </div>
</div>
<style>
  .scroller {
    width: 100%;
    height: 100%;
  }
  .scroller__inner {
    display: flex;
  }
</style>
